<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vzionsys.ssm.mapper.SimilarityMapper" >
  <resultMap id="BaseResultMap" type="com.vzionsys.ssm.po.Similarity" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="FUND_ID_FIRST" property="fundIdFirst" jdbcType="VARCHAR" />
    <result column="FUND_ID_SECOND" property="fundIdSecond" jdbcType="VARCHAR" />
    <result column="SCORE" property="score" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, FUND_ID_FIRST, FUND_ID_SECOND, SCORE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.vzionsys.ssm.po.SimilarityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SIMILARITY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from SIMILARITY
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from SIMILARITY
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.vzionsys.ssm.po.SimilarityExample" >
    delete from SIMILARITY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.vzionsys.ssm.po.Similarity" >
    insert into SIMILARITY (ID, FUND_ID_FIRST, FUND_ID_SECOND, 
      SCORE)
    values (#{id,jdbcType=INTEGER}, #{fundIdFirst,jdbcType=VARCHAR}, #{fundIdSecond,jdbcType=VARCHAR}, 
      #{score,jdbcType=VARCHAR})
  </insert>
    <insert id="insertList"  useGeneratedKeys="true" parameterType="java.util.List">
    insert into SIMILARITY (ID, FUND_ID_FIRST, FUND_ID_SECOND, SCORE)
    values
    <foreach collection="list" item="item" index="index" separator="," >
      (#{item.id,jdbcType=INTEGER}, #{item.fundIdFirst,jdbcType=VARCHAR}, #{item.fundIdSecond,jdbcType=VARCHAR}, 
      #{item.score,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.vzionsys.ssm.po.Similarity" >
    insert into SIMILARITY
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="fundIdFirst != null" >
        FUND_ID_FIRST,
      </if>
      <if test="fundIdSecond != null" >
        FUND_ID_SECOND,
      </if>
      <if test="score != null" >
        SCORE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fundIdFirst != null" >
        #{fundIdFirst,jdbcType=VARCHAR},
      </if>
      <if test="fundIdSecond != null" >
        #{fundIdSecond,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.vzionsys.ssm.po.SimilarityExample" resultType="java.lang.Integer" >
    select count(*) from SIMILARITY
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update SIMILARITY
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.fundIdFirst != null" >
        FUND_ID_FIRST = #{record.fundIdFirst,jdbcType=VARCHAR},
      </if>
      <if test="record.fundIdSecond != null" >
        FUND_ID_SECOND = #{record.fundIdSecond,jdbcType=VARCHAR},
      </if>
      <if test="record.score != null" >
        SCORE = #{record.score,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update SIMILARITY
    set ID = #{record.id,jdbcType=INTEGER},
      FUND_ID_FIRST = #{record.fundIdFirst,jdbcType=VARCHAR},
      FUND_ID_SECOND = #{record.fundIdSecond,jdbcType=VARCHAR},
      SCORE = #{record.score,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.vzionsys.ssm.po.Similarity" >
    update SIMILARITY
    <set >
      <if test="fundIdFirst != null" >
        FUND_ID_FIRST = #{fundIdFirst,jdbcType=VARCHAR},
      </if>
      <if test="fundIdSecond != null" >
        FUND_ID_SECOND = #{fundIdSecond,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        SCORE = #{score,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.vzionsys.ssm.po.Similarity" >
    update SIMILARITY
    set FUND_ID_FIRST = #{fundIdFirst,jdbcType=VARCHAR},
      FUND_ID_SECOND = #{fundIdSecond,jdbcType=VARCHAR},
      SCORE = #{score,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>